DATABASE_URL=postgresql://postgres.oeeopvzqulzunyevdxwt:annapurnamobilecare@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
ADMIN_PASSWORD=dharan16
JWT_SECRET=0d96f087495a218fb70da9179355080b6d7864b75a4360b833c8a71144f763cd
